// **********************************
//   font-face
// **********************************
@font-face {
  font-family: 'iCielEffra';
  src: url("../fonts/iCielEffra-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Times New Roman';
  src: url("../fonts/MinionPro-MediumIt.otf");
  font-weight: normal;
  font-style: normal;
}

// **********************************
//   font-family
// **********************************
$font-family-body: 'iCielEffra', sans-serif;
$font-title: 'iCielEffra', sans-serif;
$font-link: 'Roboto', sans-serif;
$font-awesome: "FontAwesome";
// **********************************
//   COLOR
// **********************************
// Brand Color
$color-1: #da251d;
$color-2: #57a64b;
$color-2hv: #2B75B3;
$color-3: #00abf0;
$color-4: #48768a;
$color-5: #1a546d;
$color-6: #0f3646;
$color-7: #006c98;
$color-8: #1b4f66;

// Application Color
$color-o: #000000;
$color-a: #ffffff;
$color-b: #dbdbdb;
$color-d: #898989;
$color-e: #cccccc;
$color-f: #f3f3f3;
$color-g: #838383;
$color-h: #c6c6c6;
$color-i: #ff0000;
$color-j: #f26522;
$transparent: transparent;
