.header {
    position: absolute;
    padding: 10px 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.9);
    z-index: 99;
    top: 0;
    blockquote,
    dd,
    dl,
    dt,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    li,
    ol,
    p,
    pre,
    ul {
        margin: 0;
        padding: 0;
        font: inherit;
        font-size: 100%;
        vertical-align: baseline;
        word-wrap: break-word;
    }
    .slogan {
        color: $color-2;
        font-family: "Times New Roman";
        font-weight: bold;
        font-style: italic;
        text-align: right;
        margin-right: 22px;
        padding-top: 40px;
    }
    .content-nav {
        float: right;
        padding-top: 35px;
        text-transform: uppercase;
        margin-bottom: 2px;
        li {
            float: left;
            a {
                position: relative;
                padding-bottom: 10px;
                margin: 0 22px;
                &:first-child {
                    padding-left: 0;
                }
                &:hover {
                    @include transition(400ms);
                    // border-bottom: 1px solid $color-1;
                    &:after {
                        content: "";
                        position: absolute;
                        width: 0;
                        height: 0;
                        bottom: 0;
                        left: 48%;
                        border-left: 5px solid $transparent;
                        border-right: 5px solid $transparent;
                        border-bottom: 5px solid $color-1;
                    }
                }
                &.active {
                    @include transition(400ms);
                    border-bottom: 1px solid $color-1;
                    &:after {
                        content: "";
                        position: absolute;
                        width: 0;
                        height: 0;
                        bottom: 0;
                        left: 48%;
                        border-left: 5px solid $transparent;
                        border-right: 5px solid $transparent;
                        border-bottom: 5px solid $color-1;
                    }
                }
            }
        }
    }
    .content-nav-2 {
        padding-top: 30px;
        text-transform: uppercase;
        li {
            float: left;
            a {
                position: relative;
                padding-bottom: 10px;
                margin: 0 40px;
                &:first-child {
                    margin-left: 10px;
                }
                &:hover {
                    // border-bottom: 1px solid $color-1;
                    &:after {
                        content: "";
                        position: absolute;
                        width: 0;
                        height: 0;
                        bottom: 0;
                        left: 50%;
                        border-left: 5px solid $transparent;
                        border-right: 5px solid $transparent;
                        border-bottom: 5px solid $color-1;
                    }
                }
            }
        }
    }
    .social-top {
        margin-right: 22px;
        padding-top: 30px;
        li {
            float: left;
            a {
                padding: 0 10px;
            }
        }
    }
    .logo-mb {
        text-align: center;
        padding-bottom: 10px;
    }
    .social-mb {
        display: flex;
        justify-content: space-around;
    }
    .control-nav {
        cursor: pointer;
        padding: 5px 10px;
        margin: 10px 0;
        font-size: 30px;
        border-bottom: 2px solid $color-1;
        color: $color-1;
        text-transform: uppercase;
        text-align: right;
    }
    .nav-mb {
        position: relative;
        z-index: 99;
        display: none;
        li {
            a {
                text-transform: uppercase;
                display: block;
                width: 100%;
                padding: 20px 10px;
                text-align: right;
                font-weight: bold;
                border-bottom: 1px solid $color-b;
            }
        }
    }
}
.hvr-underline-from-center {
    /*display: inline-block;*/
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #da251d;
    height: 1px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-center:active:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:hover:before {
    left: 0;
    right: 0;
}
